


@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1290px;
    }
}
/*	Laptop PC: 1200px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 1200px) and (max-width: 1366.98px) {
    .end-menu .dropdown-menu {
        transform: translate(887px, 60px) !important;
    }
    .carousel_custom_item > div {
        height: 586px;
    }
    .carousel_custom_item.Left {
        background-position: calc(0% - calc(350px / 2));
    }
}

/*	Tablet PC: 992px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    .end-menu{
        display: none;
    }
    .header .branding {
        min-height: 75px;
    }
    #service-and-solution .service-body {
        grid-template-columns: auto auto auto;
    }
    .section-common-heading h2{
        font-size: 22px;
        font-weight: 600;
    }
    #joinus .container {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0px;
    } 
}
/*	Tablet Layout: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .end-menu{
        display: none;
    }
    .header .branding {
        min-height: 75px;
    }
    #service-and-solution .service-body {
        grid-template-columns: auto auto auto;
    }
    .section-common-heading h2{
        font-size: 22px;
        font-weight: 600;
    }
    #joinus .container {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0px;
    } 
}

/*	Wide Tablet Layout: 576.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Tablet Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .end-menu{
        display: none;
    }
    .header .branding {
        min-height: 75px;
    }
    #service-and-solution .service-body {
        grid-template-columns: auto auto;
    }
    .section-common-heading h2{
        font-size: 22px;
        font-weight: 600;
    }
    #joinus .container {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0px;
    } 
}

/*	Wide Mobile Layout: 431.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 450px) and (max-width: 575.98px) {
    .end-menu{
        display: none;
    }
    .header .branding {
        min-height: 75px;
    }
    #service-and-solution .service-body {
        grid-template-columns: auto auto;
    }
    .section-common-heading h2{
        font-size: 22px;
        font-weight: 600;
    }
    #joinus .container {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0px;
    }


    .page-title .heading {
        padding: 35px 0;
    }
    .career-content-wrap{
        flex-direction: column;
    }
}

/*	Wide Mobile Layout: 360.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 320px) and (max-width: 449.98px) {
    .end-menu{
        display: none;
    }
    .header .branding {
        min-height: 75px;
    }
    #service-and-solution .service-body {
        grid-template-columns: auto auto;
    }
    .section-common-heading h2{
        font-size: 22px;
        font-weight: 600;
    }
    #joinus .container {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 0px;
    }


    .page-title .heading {
        padding: 35px 0;
    }
    .career-content-wrap{
        flex-direction: column;
    }
    
    
}